<div class="row">
    <div class="col-md-12">
        <a href="{{ route }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            {{ 'cancel' |trans }}
        </a>
    </div>
</div>