{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <h3>{{ 'password.already.requested'|trans }}</h3>
    <div class="alert alert-dismissible alert-warning">
        <p>{{ 'resetting.password_already_requested'|trans }}</p>
    </div>
    <a href="{{ path('fos_user_security_login') }}" class="btn btn-green">
        {{ 'login.back'|trans }}
    </a>
{% endblock fos_user_content %}
